ShradhaBook/.vs/*
ShradhaBook/ShradhaBook_API/obj/*
ShradhaBook/ShradhaBook_API/bin/*
ShradhaBook/AdminAPI/bin/Debug/net6.0/AdminAPI.deps.json
ShradhaBook/AdminAPI/bin/Debug/net6.0/AdminAPI.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/AdminAPI.exe
ShradhaBook/AdminAPI/bin/Debug/net6.0/AdminAPI.pdb
ShradhaBook/AdminAPI/bin/Debug/net6.0/AdminAPI.runtimeconfig.json
ShradhaBook/AdminAPI/bin/Debug/net6.0/appsettings.Development.json
ShradhaBook/AdminAPI/bin/Debug/net6.0/appsettings.json
ShradhaBook/AdminAPI/bin/Debug/net6.0/Azure.Core.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Azure.Identity.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Humanizer.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/MessagePack.Annotations.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/MessagePack.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Build.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Build.Framework.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Identity.Client.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.NET.StringTools.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Mono.TextTemplating.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Newtonsoft.Json.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.Common.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.Configuration.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.Frameworks.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.LibraryModel.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.Packaging.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.ProjectModel.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.Protocol.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/NuGet.Versioning.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.CodeDom.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Composition.AttributedModel.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Composition.Convention.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Composition.Hosting.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Composition.Runtime.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Composition.TypedParts.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Drawing.Common.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Memory.Data.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Runtime.Caching.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Security.Permissions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Text.Encodings.Web.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Text.Json.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ShradhaBook/AdminAPI/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
ShradhaBook/AdminAPI/obj/AdminAPI.csproj.nuget.dgspec.json
ShradhaBook/AdminAPI/obj/AdminAPI.csproj.nuget.g.props
ShradhaBook/AdminAPI/obj/AdminAPI.csproj.nuget.g.targets
ShradhaBook/AdminAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.AssemblyInfo.cs
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.AssemblyInfoInputs.cache
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.assets.cache
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.csproj.AssemblyReference.cache
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.csproj.BuildWithSkipAnalyzers
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.csproj.CopyComplete
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.csproj.CoreCompileInputs.cache
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.csproj.FileListAbsolute.txt
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.dll
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.GeneratedMSBuildEditorConfig.editorconfig
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.genruntimeconfig.cache
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.GlobalUsings.g.cs
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.MvcApplicationPartsAssemblyInfo.cache
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.MvcApplicationPartsAssemblyInfo.cs
ShradhaBook/AdminAPI/obj/Debug/net6.0/AdminAPI.pdb
ShradhaBook/AdminAPI/obj/Debug/net6.0/apphost.exe
ShradhaBook/AdminAPI/obj/Debug/net6.0/ref/AdminAPI.dll
ShradhaBook/AdminAPI/obj/Debug/net6.0/refint/AdminAPI.dll
ShradhaBook/AdminAPI/obj/Debug/net6.0/staticwebassets.build.json
ShradhaBook/AdminAPI/obj/Debug/net6.0/staticwebassets/msbuild.build.AdminAPI.props
ShradhaBook/AdminAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.AdminAPI.props
ShradhaBook/AdminAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.AdminAPI.props
ShradhaBook/AdminAPI/obj/project.assets.json
ShradhaBook/AdminAPI/obj/project.nuget.cache
ShradhaBook/.vs/ShradhaBook/v17/.suo
